@import '@fontsource-variable/lora';
@import "tailwindcss";
@tailwind utilities;


@theme {
    --font-body: 'Lora Variable', serif;
    --color-secondary: rgb(255, 241, 223);
    --color-primary: rgb(255, 247, 237);
    --color-button: rgb(179, 116, 40);
    --color-brand-white: rgb(253, 252, 252);
    --color-gris: rgb(95, 94, 94);
}